<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Recipes</h1>
        <a href="{{ url_for('add_recipe') }}">Add New Recipe</a>
        <ul>
            {% for recipe in recipes %}
                <li><a href="{{ url_for('recipe', recipe_id=recipe[0]) }}">{{ recipe[1] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>